<div [style]="{width:'80%'}">
    <div style="color:black; text-align: center;" *ngIf="bankAccount">
        <ul style="list-style: none;">
            Bank Account:
            <li>ID: {{bankAccount.accountId }}</li>
            <li>Type: {{bankAccount.type }}</li>
            <li>Balance: {{bankAccount.balance }}</li>
            <li>State: {{bankAccount.state}}</li>
        </ul>
    </div>
</div>

<p-card header="Create an new account">
    <p-messages key="key1" /><p-messages key="key2" />
    <p-confirmDialog [style]="{width: '20vw'}" />
    <form [formGroup]="operationFormRequest">
        <div class="p-float-label">
            <p-dropdown [options]="types" [(ngModel)]="selectedType" optionLabel="type"
                placeholder="Select a operation type" formControlName="type" />
            <label for="for">select operation type</label>
        </div>
        <br />
        <div class="p-float-label">
            <input type="number" formControlName="mount" id="mount" pInputText>
            <label for="mount">input operation mount</label>
        </div>
        <br>
        <div>
            <label for="account">Account ID</label><br>
            <input type="text" formControlName="account" id="account" pInputText>
        </div>
        <br><br>
        <div class="buttons">
            <p-button label="Create" [text]="true" [raised]="true" severity="primary" (onClick)="createOperation()"
                [disabled]="operationFormRequest.invalid" />&nbsp;
            <p-button label="Cancel" [text]="true" [raised]="true" severity="danger" />

        </div>
    </form>
</p-card>