<div style="width:80%">
    <h1 style="color: green; text-align: center;">
        Bank accounts and their customers
    </h1>
</div>
<p-card [style]="{width:'fit-content'}">
    <p-messages key="key1" /><p-messages key="key2" />
    <p-confirmDialog [style]="{width: '20vw'}" />
    <p-table [value]="accountsList" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
        [tableStyle]="{ 'min-width': 'fit-content' }" [globalFilterFields]="['balance','customer.lastname','createdAt']">
        <ng-template pTemplate="header">
            <tr>
                <th>Account ID</th>
                <th>Type</th>
                <th>State</th>
                <th pSortableColumn="balance">Balance<p-sortIcon field="balance"/></th>
                <th pSortableColumn="createdAt">Creation date<p-sortIcon field="createdAt"/> </th>
                <th>Customer</th>
                <th pSortableColumn="customer.lastname">Customer name <p-sortIcon field="customer.lastname"/></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account>
            <tr>
                <td>{{account.accountId}}</td>

                <td> <p-tag [value]="account.type" [severity]="getAccountTypeSeverity(account.type)"> </p-tag></td>
                <td><p-tag [value]="account.state" [severity]="getAccountStateSeverity(account.state)" /></td>
                <td>{{account.balance | currency:'EUR':true}}</td>
                <td>{{account.createdAt | date:'medium'}}</td>
                <td>
                    <ul>
                        <li><span style="font-weight: bold;">ID</span>: {{account.customer.customerId}} </li>
                        <li><span style="font-weight: bold;">Name</span>: {{account.customer.firstname}} {{account.customer.lastname}}</li>
                        <li><span style="font-weight: bold;">Email</span>: {{account.customer.email}}</li>
                        <li><span style="font-weight: bold;">State</span>: <p-tag [value]="account.customer.state"
                                [severity]="getCustomerStateSeverity(account.customer.state)"></p-tag></li>
                    </ul>
                </td>
                <td><span style="font-weight: bold;"></span>{{account.customer.lastname}}</td>
                <td>
                    <p-button icon="pi pi-plus" size="small" [rounded]="true" [text]="true" severity="danger" pTooltip="create operation" tooltipPosition="left"
                    (onClick)="onCreateOperation(account)" *ngIf="account.type=='current'"/> 

                    <p-button icon="pi pi-pencil" size="small" [rounded]="true" [text]="true" severity="info" pTooltip="switch account state active/suspend" tooltipPosition="left"
                    (onClick)="onSwitchStateAccount(account)"/> 
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                {{accountsList ? accountsList.length : 0 }} Bank Accounts
            </div>
        </ng-template>
    </p-table>
</p-card>