<div style="width:80%">
    <h1 style="color: green; text-align: center;">
        customers and their addresses
    </h1>
</div>
<p-card [style]="{ width: 'fit-content' }">
    <p-messages key="key1" /><p-messages key="key2" />
    <p-confirmDialog [style]="{width: '20vw'}" />
    <p-table [value]="customers" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20,30, 50]"
        [globalFilterFields]="['lastname','firstname']">
        <ng-template pTemplate="header">
            <tr>
                <th>Customer Id</th>
                <th pSortableColumn="firstname">Firstname <p-sortIcon field="firstname" /></th>
                <th pSortableColumn="lastname">Lastname<p-sortIcon field="lastname" /></th>
                <th>Email</th>
                <th>State</th>
                <th>Creation date</th>
                <th>Address</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td [style]="{width:'15%'}">{{ customer.customerId }}</td>
                <td>{{ customer.firstname }}</td>
                <td> {{ customer.lastname }}</td>
                <td>{{ customer.email }}</td>
                <td><p-tag [value]="customer.state" [severity]="getCustomerStateServerity(customer.state)"></p-tag></td>
                <td>{{ customer.createdAt | date:'medium'}}</td>
                <td [style]="{width:'15%'}">{{ customer.address.streetNum }}
                    {{ customer.address.streetName }},
                    {{ customer.address.poBox }}
                    {{ customer.address.city }},
                    {{ customer.address.country }}
                </td>
                <td>
                    <p-button icon="pi pi-window-maximize" size="small" [rounded]="true" [text]="true"
                        severity="warning" pTooltip="create account" tooltipPosition="left"
                        (onClick)="sidebarVisible=true; loadCustomer(customer)" *ngIf="customer.state=='active'" />
                    <p-button icon="pi pi-pencil" size="small" [rounded]="true" [text]="true" severity="info"
                        pTooltip="edit customer" tooltipPosition="left" />
                    <p-button icon="pi pi-pencil" size="small" [rounded]="true" [text]="true" severity="danger"
                        pTooltip="active/archive" tooltipPosition="left" (onClick)="onCustomerSwitchState(customer)" />
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                {{customers ? customers.length : 0 }} customers
            </div>
        </ng-template>
    </p-table>
</p-card>

<!-- side bar for creating bank account -->
<p-sidebar [(visible)]="sidebarVisible" position="right" *ngIf="selectedCustomer" [style]="{width:'fit-content'}">
    <p-card header="Create Bank Account" *ngIf="selectedCustomer">
        <form [formGroup]="accountFormRequest">
            <div>
                <label for="type">Customer ID</label><br>
                <input type="text" pInputText formControlName="customer" id="customer"
                    [(ngModel)]="selectedCustomer.customerId" />
            </div>
            <br>
            <div class="p-float-label">
                <p-dropdown [options]="accountTypes" optionLabel="type" placeholder="Select an account type"
                    formControlName="type" />
                <label for="type">select operation type</label>
            </div>
            <br />
            <div class="p-float-label">
                <input type="number" formControlName="balance" id="balance" pInputText>
                <label for="balance">input account init mount</label>
            </div>
            <br><br>
            <div class="buttons">
                <p-button label="Create" [text]="true" [raised]="true" [disabled]="accountFormRequest.invalid"
                    (click)="onCreateCustomerAccount()" />&nbsp;
                <p-button label="Cancel" [text]="true" [raised]="true" severity="danger" />

            </div>
        </form>
    </p-card>
</p-sidebar>