<div style="width:80%">
    <h1 style="color: green; text-align: center;">
        customers and their addresses
    </h1>
</div>
<p-card [style]="{ width: 'fit-content' }">
    <p-table [value]="customers" [paginator]="true" [rows]="8" [rowsPerPageOptions]="[8, 15,20, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Customer Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>State</th>
                <th>Created At</th>
                <th>Address</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{ customer.customerId }}</td>
                <td>{{ customer.firstname }}
                    {{ customer.lastname }}</td>
                <td>{{ customer.email }}</td>
                <td><p-tag [value]="customer.state" [severity]="getCustomerStateServerity(customer.state)"></p-tag></td>
                <td>{{ customer.createdAt | date:'yyyy-MM-dd: hh:mm:ss'}}</td>
                <td>{{ customer.address.streetNum }}
                    {{ customer.address.streetName }},
                    {{ customer.address.poBox }}
                    {{ customer.address.city }},
                    {{ customer.address.country }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>